

.header {
    white-space: nowrap ;
    font-weight: bolder;
    transition: all 0.5s ease-in-out;
    font-size: clamp(2em, 3vw, 3em);
}

@media (max-width: 1035px) {
  .header {
    margin-top:2rem;
    font-size: clamp(1.4em, 5vw, 3em);
    white-space: wrap;
    text-wrap:balance;

  }
}

.header-img {
  height:500px;
  flex:1 1 400px;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 600px) {
  .header-img {
    height:300px;
  }
}




@media screen and (max-width: 1199px) {
    .objectFit {
      max-width:100%;
      height:auto;
    }
  }







.tool-grid {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width:90%;
}
.quote-grid {
  display: grid;
  gap: 4em;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding-right:8em;
  padding-left:8em;
}




.img-width {
  width:90%
}

.img-width-2 {
  width:90%
}

@media screen and (max-width: 1200px) {
  .tool-grid {
  padding-right:0em;
  padding-left:0em;
}
.quote-grid {
  padding-right:0em;
  padding-left:0em;
}

.creative-process-container {
  max-width:100%;
}

}


@media screen and (max-width: 828px) {
  .quote-grid {
    grid-template-columns: repeat(1, 1fr);

  }
}
.img-width {
  width:90%
}
@media screen and (max-width: 991.20px) {
  .img-width,.img-width-2 {
    width:100%
  }
  

}
.grid-item {
  border: 1px solid rgb(144 144 144);
  border-radius:10px ;
}

@media screen and (max-width: 970px) {
  .tool-grid {
    grid-template-columns: repeat(1, 1fr);
    max-width:600px

}


.grid-item {
  width:100%;
}
}



/* .bg-image {
  background: url('../assets/images/home/bg.png') no-repeat;
  background-size:cover;
  background-position: center;

}
.bg-image-2 {
  background: url('../assets/images/home/bg-2.png') no-repeat;
  background-size:cover;
  background-position: center;
} */
/* so Learn More is stacked */
/* @media only screen and (max-width: 483.20px) {
  .wordSpacing {
    word-spacing: 100vw;
  }
} */

.fs-header {
  font-size: 3.5rem;
}

.fs-para {
  font-size: 1.5rem;

}
@media only screen and (max-width: 664px) {
  .fs-header {
    font-size: 1.5rem;
  }
  
  .fs-para {
    font-size: 1rem;
  
  }
}

.btn-container {
  column-gap: 1rem;

}
@media only screen and (max-width: 466px) {
.btn-container {
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;

}
}


.btn-inspiration {
  letter-spacing: 0.3px;
  flex: 1 1 0%
}

.object-fit {
  max-width:100%;
  height:auto;
}

.icon {
  transition: transform 0.2s ease-in-out;
}

.get-started {
  text-wrap:nowrap;
}

.get-started:hover .icon {
  transform: translateX(6px) translateY(0);
}



.support-button {
  display:flex;
  font-size: 1rem;
  align-items:center;
  text-wrap:nowrap;
}

.support-button:hover .support-arrow {
  width:20px;

}

.support-arrow {
  width:0;
  transition: width 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Spring effect on initial state */
  transform: translateX(5px); /* Use transform to simulate margin-left */

}




.wave {
  position: relative;
  width: 100%;
  height:130px;
}



.wave::after {
  content: "";
  position: absolute;
  top: -120px;
  left: -70px;
  width: 150px;
  height: 100%;
  background-color:#1A1A1A;

}
@media screen and (max-width: 1200px) {
  .wave::after {
    display: none;
  }
}

.wave::before {
  content: "";
  position: absolute;
  top: -120px;
  left: -250px;
  width: 100%;
  height: 100%;
 background-repeat: no-repeat;
 background-image: url("/wave.svg");
 transform: scaleX(-1); /* Flip horizontally */

}


.faq-news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 0rem 15rem 0rem;
   background: #1A1A1A;
   /* instead of using minHeight:100vh which causes shaking. solution for 100vh and accordions */
   /* padding-top: calc((100vh - 460px) / 2); 
   padding-bottom: calc((100vh - 460px) / 2);  */
}

