@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

  div.link-active {
    border-bottom: 2px solid white;
    color:white;
  }
/* 
  @media screen and (max-width: 576px) {
    .responsive-sticky-top {
      position: sticky;
      top: 0;
      z-index: 1020;
    }
  } */
  @media screen and (max-width:350px) {
    .search {
      display:none;
    }
  }

  @media screen and (min-width:1090px) {
    .search {
      order:1
    }
  }

@media screen and (max-width:1090px) {
  .nav-dropdown-menu {
    border-bottom: 1px solid #444a4d;
    padding:2.25rem 5vw !important;
  }
  .hover-dropdown:hover {
    background: rgba(121,135,161,0.15);
    transition: background 300ms;

  }

}

.custom-row-gap {
 row-gap:10px;
}

.custom-column-gap {
  column-gap: 1.5em;
}
/* @media screen and (max-width: 435px) {
  .custom-column-gap {
    column-gap:1em;
  }
} */

 @media screen and (min-width:992px) {
  .nav-shake:hover {
    animation: tilt-shaking 0.15s ease-in-out !important;
 }
}

.highlight-nav {
 transition-duration: 200ms;
}

.highlight-nav:hover {
    color: var(--nav-brand-color);
     
}

.playlist-icon  {
  transition: transform 200ms ease;
  color:white;
}

.rotate {
  transform: rotate(180deg);
}

.search-close-btn {
  z-index: 2001;
  top:0;
  right:0;
  position:absolute;
  float:right;
  cursor:pointer;
  padding:10px;
}


.circular-border { 
  border:2px solid #4B4C53;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  line-height: 35px;
  transition-duration: 200ms;
 cursor: pointer;
}

.circular-border:hover {
  border-color: var(--nav-brand-color);
}


.try-button {
  background-color: #1D8754; 
  color: white !important;
   border-radius: 6px;
}

.try-button:hover {
  opacity: 90%;
}

.rotating-circle-container {
  position: absolute;
  top: -8px;
  left: -8px;
}


.rotating-circle:active {
  animation: fast-rotate 0.2s linear infinite;
}


@keyframes fast-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.navigation-overlay {
  width: 100%;
  height: 100%;
  top: 125px;
  left: 0;
  position: fixed;
  overflow: hidden; 
  z-index: 2000;
  animation: fadeInOpacity;
  animation-duration: 0.2s;
  background-color: #121212;
  padding:4px;
}


.hamburger-container:hover {
  background:rgba(128, 128, 128, 0.058);
}

.rounded-button {
  display:none;
}

.desktop-view {
  display:block;
  flex-grow:1;
}

.mobile-view {
  display:none;
}


/* Mobile-specific styles */
@media (max-width: 1090px) {
  .rounded-button {
    border: 1px solid hsla(0, 0%, 25%, 1);
    border-radius: 9999px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
  }
  .desktop-view{
    display:none;
    flex-grow:0;
  }
  .mobile-view {
    display:block;
  }
}

div.navigation-overlay > a:first-of-type > div
{
  border-top: 1px solid #444a4d
}

.hamburger-link {
  font-size:16px;
  color:white;
}