.dash {
    width: 60px;
    height: 5px;
    background-color: rgba(128, 128, 128, 0.413);
    border-radius: 0px;
    margin-right: 10px;
}

.completed {
    background-color:rgb(255, 255, 255) !important
  }

.current {
    background-color:rgb(255, 255, 255) !important
  }