.scroll-progress-bar {
  width: 5px;
  background-color: #86C232; /* Change to your desired color */
}

.scroll-container {
  position: fixed;
  right:35px;
  top:0px;
  height: 100%;
  overflow: visible;
  display:flex;
  align-items: center;
  z-index: 1000;
  
}



.item-container {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  transition: .35s;
  padding: 2px 9px;
  margin: 0 2px;
}

.item {
  height: 15px;
  width: 3px;
  background: #ffffff;
  box-shadow: 0 0 1px #fff;
  opacity: .5;
  display: block;
  transition: all .5s ease;
}

.item-active .item {
  height: 45px;
  opacity: 1;
}


