.search-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden; 
    z-index: 2000;
    animation: fadeInOpacity;
    animation-duration: 0.2s;
    background-color: #121212
}





@keyframes fadeInOpacity {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
/* must have important tags */
.light-border-input {
    background-color:black !important;
    color:white !important;
     border-color:#333333 !important ;
     outline: none !important;
     font-weight: 300;
     font-size:18px;
}

.light-border-input:focus {
    border-color:rgb(119 116 116) !important;

}

.placeholder::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */

    /* Firefox */
    font-weight: 300;
    color:white;
    opacity: 0.5;
}


.icon-container {
    background-color:black !important;
    border-color:#333333 ;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.icon-container:has(+ .light-border-input:focus),
.light-border-input:focus + .icon-container {
    border-color:rgb(119 116 116) !important;
}



.results {
    text-decoration: none;
    color: inherit;
    border-radius: 4px;
    text-align: left;
    display: flex;
    align-items: flex-start;
    background-color:transparent;
    column-gap:12px;
    border-bottom: 1px solid #333333;
    padding:16px 18px;
  

}

.results:hover {
    opacity:100% !important;
}

.subtext {
    text-align: center;
    font-weight:300;
    transition: all 0.5s ease-in-out;
    font-size: clamp(1rem, 3vw, 1.5rem);
    text-wrap: pretty;
}
.results-icon {
        padding:4px; 
        line-height:0;
        border-radius:10px;
    }


    .legend-container {
        display: flex;
        align-items: center;
        padding:16px 18px;
        column-gap:12px;
        border-radius:0.375rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        background-color:rgb(23, 23, 23);
    }

    @media (max-width: 650px) {
        .legend-container {
            flex-direction: column;
            row-gap: 12px;
            align-items: start;

        }
    }

    .legend {
        display: flex;
        align-items: center;
      
    }

    .legend-icon {
        width: 1.8rem;
        height: 1.8rem;
        background-color:rgb(0, 0, 0);
        padding: 5px;
        border-radius:3px
    }

