
.logo-grid {
    display:grid;
    grid-column-gap: 2em;
    grid-row-gap:5em;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    grid-template-rows: repeat(4, auto);
    justify-items: start;
    align-items:center;
  }
  
@media (max-width: 537px) {
  .logo-grid {
      grid-template-columns: repeat(2, minmax(80px, 1fr)); 
      grid-row-gap:36px;

  }
}
  .support-button {
    display:flex;
    font-size: 15px;
    height:45px;
    align-items:center;
    text-wrap:nowrap;
  }
  
  .support-button:hover .support-arrow {
    width:20px;
  
  }
  
  .support-arrow {
    width:0;
    transition: width 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Spring effect on initial state */
    transform: translateX(5px); /* Use transform to simulate margin-left */
  
  }

/*   
.btn-container {
    column-gap: 1rem;
  
  }
  @media only screen and (max-width: 466px) {
  .btn-container {
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
  
  }
  } */
  
  
  .wave {
    position: relative;
    width: 100%;
    height:130px;
  }
  
  .wave::after {
    content: "";
    position: absolute;
    top: -120px;
    right: 0;
    width: 150px;
    height: 100%;
    background-color:#000000;
  }
  @media screen and (max-width: 1200px) {
    .wave::after {
      display: none;
    }
  }
  .wave::before {
    content: "";
    position: absolute;
    top: -120px;
    right: -200px;
    width: 100%;
    height: 100%;
   background-repeat: no-repeat;
  background-image: url("/wave-3.svg");
  
  }