.creative-process-container {
    max-width:90%;
  }


  .logo-scroll-container {
    display: flex;
    overflow: hidden; /* Hide content that overflows the container */
    position: relative;
    max-width:650px; /* Full width of the viewport */
    height: auto; /* Adjust height to match your image */
    background: #f9f9f9; /* Optional: background color */
   
  }
  
  .logo-track {
    display: flex;
    align-items: center;
    animation: scroll 40s linear infinite; /* Control the speed */
  }
  .logo-track-left {
    display: flex;
    align-items: center;
    animation: scroll-left 40s linear infinite; /* Control the speed */
  
  }
  
  
  .logo {
    flex-shrink: 0; /* Prevent image from shrinking */
    width: auto; /* Maintain original width */
    height: 100px; /* Set height to match the container */
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  
  @keyframes scroll-left {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  .fade-out-right {
    width: 3rem;
    height: 100%;
    position: absolute;
    left: auto;
    right: 0px;
    background: -webkit-linear-gradient(270deg, #1A1A1A 36%, #28262d00);
    background: linear-gradient(270deg, #1A1A1A 36%, #28262d00);
    z-index:1
  }
  
  .fade-out-left {
    width: 3rem;
    height: 100%;
    position: absolute;
    left: 0px;
    right: auto;
    background: -webkit-linear-gradient(90deg, #1A1A1A 36%, #28262d00);
    background: linear-gradient(90deg, #1A1A1A 36%, #28262d00);
    z-index:1
  }

  .wave {
    position: relative;
    width: 100%;
    height:130px;
  }
  

  


  .wave::after {
    content: "";
    position: absolute;
    top: -120px;
    right: -0px;
    width: calc(50vw - 300px);
  
    height: 100%;
    background-color:#1A1A1A;
  }
  @media screen and (max-width: 1200px) {
    .wave::after {
      display: none;
    }
  }
  
  .wave::before {
    content: "";
    position: absolute;
    top: -120px;
    right:-100px;
    width: 100%;
    height: 100%;
   background-repeat: no-repeat;
  background-image: url("/wave.svg");
  
  }
  