
.steps-container {
 gap: 5em;
 min-height: 30em; 
 border-radius: 24px; 
 background:#121212; 
 padding: 3em;
}


.smaller-steps-container {
 padding: 2em;
 border-radius: 24px ;
 background: #1A1A1A;
}
@media screen and (max-width: 400px) {
  .steps-container {
    padding: 2em;

  }
  .smaller-steps-container {
    padding: 1.5em;
  }
}



  .step-grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  @media screen and (max-width: 1200px) {
    .step-grid {
    gap: 54px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.section-container-style-lighter {
    padding:2em;
}



.wave {
  position: relative;
  width: 100%;
  height:130px;
}

.wave::after {
  content: "";
  position: absolute;
  top: -120px;
  left: 0px;
  width: 350px;
  height: 100%;
  background-color:#1A1A1A;

}
@media screen and (max-width: 1200px) {
  .wave::after {
    display: none;
  }
}

.wave::before {
  content: "";
  position: absolute;
  top: -120px;
  left: 0px;
  width: 100%;
  height: 100%;
 background-repeat: no-repeat;
 background-image: url("/wave.svg");
 transform: scaleX(-1); /* Flip horizontally */

}

.circled-number-container {
 left: 50%;
  top: -16%;
  transform: translateX(-50%);
  position:absolute;
}