.marker::marker {
    color:#248080;
}

.marker {
  font-size: 14px;
}

ul li.marker {
    margin-bottom:10px
}

.wave {
    position: relative;
    width: 100%;
    height:130px;
  }
  
  .wave::after {
    content: "";
    position: absolute;
    top: -120px;
    right: -0px;
    width: calc(50vw - 200px);
  
    height: 100%;
    background-color:#121212;
  }
  @media screen and (max-width: 1200px) {
    .wave::after {
      display: none;
    }
  }
  
  .wave::before {
    content: "";
    position: absolute;
    top: -120px;
    right:-0;
    width: 100%;
    height: 100%;
   background-repeat: no-repeat;
  background-image: url("/wave-2.svg");
  
  }
  

  .mem-container {
    border-radius: 24px ;
    flex:1 1 33%;
    background-color: #1A1A1A;
    padding:25px;
    min-height: 50rem; 
  }
  @media (max-width: 1065px) {
  .mem-container {
    flex:1 1 100%;
    min-height: 700px; 
  }
  .wrap {
    flex-wrap: wrap;
    
  }
}

.description {
 min-height: 5rem;
}
@media (max-width:1065px) {
  .description {
    min-height: 0rem;
  }
}