.tool-grid {
  display: grid;
  gap: 4em;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.grid-item {
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .tool-grid {
    grid-template-columns: repeat(1, 1fr);
    max-width: 600px;
  }

  .grid-item {
    width: 100%;
  }
}
.wave {
  position: relative;
  width: 100%;
  height:130px;
}

.wave::after {
  content: "";
  position: absolute;
  top: -120px;
  right: -0px;
  width: calc(50vw - 200px);

  height: 100%;
  background-color:#121212;
}
@media screen and (max-width: 1200px) {
  .wave::after {
    display: none;
  }
}

.wave::before {
  content: "";
  position: absolute;
  top: -120px;
  right:-0;
  width: 100%;
  height: 100%;
 background-repeat: no-repeat;
background-image: url("/wave-2.svg");

}

