
.swiper-button-next:after,
.swiper-button-prev:after {
  content: "" !important;
}
.swiper-button-prev,
.swiper-button-next {
  cursor:pointer;
  height: 66px;
  width:66px;
  background:#1f1f1f;
  border-radius:9999px;
  display:flex;
  align-items: center;
  justify-content: center;
  color:white;
}



  .hidden {
    display: none;
  }

  .disabled {
    pointer-events: none;
  }

  
  /* for hovering circle*/
.hover-circle {
  color: #4b4c53;
}

.circle-animate {
  stroke:white;
  transform-origin:30px 30px;
  stroke-dasharray: 175.929; /* Perimeter of the circle */
  stroke-dashoffset: 175.929; /* Initially fully hidden */
  animation: fill-clear 8s ease-in-out infinite, fill-green 8s ease-in-out infinite; /* Adjust timing as needed */
  transform: rotate(-90deg); /* Change the starting point */


}

@keyframes fill-clear {
  0% {
    stroke-dashoffset: 175.929; /* Start with an empty circle */
  }
  90% {
    stroke-dashoffset: 0; /* Fully filled */
  }
 100% {
    stroke-dashoffset: 0; /* Fully filled */
  }

}

@keyframes fill-green {
  0%, 80% {
    stroke: white;
  }
  90%,100% {
    stroke:green;
  }
}


.scaled-svg {
  transform:scale(0.55);
}

@media (max-width: 600px) {
  .scaled-svg {
    visibility: hidden;
  }
}

