.grid {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}


@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  
}

@media screen and (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media screen and (max-width: 576px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
}

.object-fit {
  max-width: 100%;
  height:110%;
   cursor: pointer;
}

/* .community-banner {
  background: linear-gradient(to right, #040404, 70%, transparent), url("../../assets/images/communityBanner.png") right / 60% no-repeat, #040404;
  height:200px
} */


/* .community-banner::before {
  content: '';
  background: linear-gradient(to right, #000000, 90%, transparent), url("../../assets/images/communityBanner.png") right / 60% no-repeat, #040404;  
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
} */

.multiline-ellipsis {
  color: #b1b1b1;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fadeoff {
  pointer-events: none;
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  top: -60px;
  background: -webkit-linear-gradient(top, #00000000 0, rgba(0, 0, 0, 0.74) 100%);
  background: linear-gradient(to bottom, #00000000 0, rgba(0, 0, 0, 0.74) 100%);
  z-index:1
}

.fadeoff-huge {
  pointer-events: none;
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0px;
  border-radius:10px;
  background: -webkit-linear-gradient(top, #00000000 0, rgba(0, 0, 0, 0.875) 100%);
  background: linear-gradient(to bottom, #00000000 0, rgba(0, 0, 0,0.875) 100%);
}

.nav-tab {
  border-top: 1px solid #3d3d3d;
  border-right: 1px solid #3d3d3d;
  cursor: pointer;
}

.nav-tab:first-child {
  border-left: 1px solid #3d3d3d;
}

.nav-tab .nav-tab-item {
  border-radius: 0;
  border:none;
}

.tab-container {
  background: rgba(219, 213, 213, 0);
}

.container-scrollbar {
  overflow-x:auto;
  scrollbar-color: rgba(219, 213, 213, 0.733) transparent; 
}


.title {
  transition: color 0.3s ease-in-out;

}
.figure {
  transition: transform 0.3s ease-in-out;

}


.card-review-container:hover .figure {
  transform: translateY(-1rem);
}



  
  .more-button:hover .more-arrow {
    width:20px;
  
  }
  
  .more-arrow {
    width:0;
    transition: width 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Spring effect on initial state */
    transform: translateX(5px); /* Use transform to simulate margin-left */
  
  }

  .extra-button {
    position: absolute;
    top:10px;
    right:10px;
    border-radius:9999px;
    background:rgba(0, 0, 0, 0.472);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    visibility: hidden;
    cursor: pointer;
  }

  .extra-button:hover {
    background:rgba(0, 0, 0, 0.672);
    
  }

  .card-review-container:hover .extra-button {
    visibility: visible;
  }

  .big-frame:hover {
    cursor:pointer;
    opacity: 90%;
  }

.form-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: rgba(41, 41, 41, 0.823) url('/arrow.svg') no-repeat right 1rem center;
  background-size: 1rem;

  color: #ffffff;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}

.form-select:focus {
  box-shadow: 0 0 0 2px #555;
  background-color: rgba(60, 60, 60, 0.9);
}

.form-select option {
  background-color: #292929;
  color: #ffffff;
  padding: 0.75rem 1rem; /* More padding for comfort */
  font-size: 1rem;
  min-width: 320px; /* Force longer width on dropdown if browser allows */
}

@media screen and (max-width: 1400px) {

.fade-out-left {
    width: 3rem;
    height: 75%;
    position: absolute;
    left: 0px;
  background: linear-gradient(to right, #121212 0%, transparent 100%);
    z-index: 1;
}

.fade-out-right {
    width: 3rem;
    height:75%;
    position: absolute;
    right: 0px;
  background: linear-gradient(to left, #121212 0%, transparent 100%);
    z-index: 1;
}
  
}

