.plan-container {
    border: 1px solid hsla(0, 0%, 25%, 1);
    border-radius: 10px;
    margin-bottom:5rem;

}

.summary-container {
    display:flex;
    border: 1px solid hsla(0, 0%, 25%, 1);
    border-radius: 10px;
    padding:1rem;
    margin-bottom:5rem;
}

.plan-heading {
    border-bottom: 1px solid hsla(0, 0%, 25%, 1);
    padding:1rem;
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    background-color: #0a0a0a65;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.btn-group .upgrade-button {
    letter-spacing: normal;
    font-size: 0.8rem;
    margin-left:10px;
    align-self:flex-end;
    color:white;
}

.addOn-button {
    letter-spacing: normal !important;
    color:white;
    font-size: 0.8rem;


}

.btn-group .compare-button {
    letter-spacing: normal ;
    font-size: 0.8rem;
    text-wrap: nowrap;
    color:white;

}



@media screen and (max-width: 576px) {
    .upgrade-button {
        margin-top:10px
    }
}




.summary {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
    padding-right: 2rem;
    align-items: center;

}

.more-options-container {
    flex: 1;
    padding-left: 2rem;
}


.options {
    color: #0d6efd;
    list-style: none;
    padding: 0;
    font-size: 12px;
}
 
@media screen and (max-width: 424px) {
.options {
    font-size: 11px;
}}

@media screen and (max-width: 453px) {
    .summary {
        font-size:13px;
    }
}

@media screen and (max-width: 524px) {
    .more-options-container {
        font-size:12px;
    }
}



.web-title {
    font-size: 14px;
    margin-bottom: 3px;
    text-wrap: nowrap;
}

.plan-subtext {
    font-size: 12px;
    color: #636c76;
}

.plan-list {
    list-style: none;
    padding-left: 0; /* Equivalent to ps-0 in Bootstrap */
    text-wrap: nowrap;
}

.alt-plan {
    color: #0d6efd;
    padding-bottom: 15px;
    text-wrap:break-word;
}

@media screen and (max-width:576px) {
    .alt-plan {
        text-wrap: nowrap;
    }
}


.addOn-heading {
    border-bottom: 1px solid hsla(0, 0%, 25%, 1);
    padding:1rem;
    display:flex;
    align-items: center;
    
}

.addOn-container {
    border: 1px solid hsla(0, 0%, 25%, 1);
    border-radius: 10px;
    background-color:#0a0a0a

}

.addOn-title {
    font-size: 14px;
    margin-bottom: 3px;
}

.addOn-subtext {
    font-size: 12px;
    color: #636c76;
}



