.tab-active {
    color:white !important;
    background-color:#2f3439 !important;
}

.tab-active::after {
        content: "";
        height:  1.5rem;
        left: calc( 0.5rem*-1);
        position: absolute;
        top: calc(50% - 12px);
        width: 0.15rem;
        background: white;

}

.bg-color {
    background-color:transparent;
    color:var(--nav-item-color);
    border-color:transparent !important;
    border-radius:5px !important;
    font-size: 14px;
}

.bg-color:hover {
    background-color:#2f3439!important;
}

.extra-padding {
   padding: 0 30px 0 50px;
}


.mobile-view-tab {
background-color:transparent;
color:white;
border-color:transparent ;
font-size: 14px;
padding:24px 16px;
border-bottom: 1px solid #303030 !important

}


.back-button {
    border: 1px solid #303030 !important;
    border-left: 0px !important;
    border-right: 0px !important;
    text-align: left;
    margin:0 -35px;
}

.back {
    display:flex;
    flex-direction: row;
    align-items: center;

}