.light-border-input {
    background-color:black !important;
    color:white !important;
     border-color:#333333 ;
     outline: none !important;
     font-size:1rem;
  }
  .light-border-input:focus {
    border-color:rgb(119 116 116) !important
    
  }

  .add-transition {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
   }
   .form-control-without-rounded-borders {
    border-radius: 0;
  }

  
.nav-next {
    background-color:rgb(59, 141, 66) ;
    color:white;
    border-radius:50px;
    padding: 10px 20px;
    border: 1px solid transparent !important;
  }
  
  .nav-next:hover {
    background-color:rgba(59, 141, 66, 0.751) ;
  }
  
  .nav-next:active {
    background-color:rgba(59, 141, 66, 0.751) !important ;
  }

  .grid {
    display:grid;
    gap: 2rem;
    grid-template-columns:repeat(auto-fill, minmax(15em, 1fr))
  }
  .poster-delete, .poster-add {
    position:absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    display:none; 
  }
  
  .poster-container:hover .poster-add  {
    display:inline-block !important;
  }
 .poster-container:hover .poster-delete {
    display:inline-block !important;
  }


  
  .poster-container:hover .poster-image {
    opacity: 0.4;
  }
  
  .nav-search {
    background-color:rgb(59, 141, 66) ;
    color:white;
    border-radius:50px;
    border: 1px solid transparent !important;
  }
  .nav-search:active {
    opacity: 0.8;
  }
 
  .date-picker {
    flex: 0 0 15%; 
  }
  @media screen and (max-width: 600px) {
    .date-picker {
      flex: 0 0 20%; 
    }
  }
  

  .loader-container {
    width: 250px;
    height: 350px;
  }

.search-radius {
  border-top-right-radius:10px !important;
  border-bottom-right-radius:10px !important;
}




.grid > div:empty::before {
  content: "+ Available Slot";
  display: block;
  text-align: center;
  color: #aaa;
  padding: 2rem;
  border: 1px dashed #ccc;
  border-radius: 0.5rem;

}