.checkmark {
    border:1px solid rgb(0, 0, 0);
    border-radius: 10px;
    position:absolute;
    padding:7px 10px;
    background:rgb(0, 0, 0);
    top:25px;
    right:25px;
    
   }
   
   .bullet-color {
     background-color:white 
   }
   
   
   
   .mySwiper {
     background-color:#1a1a1a;
     border-radius: 50px !important;
     padding: 3em 3em;
   }
  
   
  
  .disabled-media-selection {
    cursor: none;
    pointer-events: none;
    opacity:0.5;
    color:grey;
  }


  .option {
    padding: 10em 0;
    border-radius: 50px;
    background-color:rgb(17 17 17 / 51%);

  }
  
  .option:hover {
    background:rgba(28, 31, 34, 0.373);
    cursor:pointer
  }
  
  .highlight-media {
    background:#ffffff !important;
    color:black 
  }
  
  .media-type {
    color:#6B7280
  }

  .media-type-selected {
    color:black;
  }